.example-spacer {
    flex: 1 1 auto;
  }
.mat-header{
  margin: auto;
  margin-top: 200px;
  width: 599px;
  height: 60px;
  background-color: #0B877D;
  border-radius: 5px;
}

.title-header{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }
  .icon-header{
    color: white;
    margin-left: 330px;
  }